__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
.env
.venv
venv/
ENV/
env/
.ipynb_checkpoints
build/
dist/
*.egg-info/
.eggs/
*.log
data/raw/*
data/reference/*
data/preprocessed/*
!data/raw/.gitkeep
!data/reference/.gitkeep
*.parquet
*.vcf
*.fasta
*.gz
*.zip
*.tar
*.tar.gz
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
